@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1F2324;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Equinox";
  font-weight: bold;
  src: url("../public/fonts/Equinox/Equinox\ Bold.otf");
}

@font-face {
  font-family: "Equinox";
  font-weight: normal;
  src: url("../public/fonts/Equinox/Equinox\ Regular.otf");
}
